.botao{
  margin-top: 3vh;
}

.home-imagem{
  height: 50vh;
  /* background-image: url(../../img/img.jpg); */
}

.centered {
  text-align: center;
}

.div-centered {
  height: 80vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}