.home{
  margin-top: 10vh;
  height: 75vh;
  width: 100%;
}
.card{
  margin-top: 10vh;
  box-shadow: 60px -16px rgb(16, 134, 134);
}
@media screen and (max-width: 500px) {
    .home{
      margin-top: 1vh;
    }
  
}